.centerTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.centerHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4vh;
}

.imgFullSize {
    width: 100%;
    height: 100%;
}
